*.DS_Store
*.log
*.log.gz
saves/New*
journeymap/
saves/
modernfix/
usercache.json
latest.log
client.log
server.log
startup.log
logs/
logs/*
logs/kubejs/
.gitignore.swp
usernamecache.json
options.txt
local/
config-bak/
crash-reports/
essential/
screenshots/
thingspacks/
servers.dat
servers.dat_old
servers.essential.dat
defaultconfigs/
saves/
blueprints/